@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&family=Poppins:wght@400;500;600;700&family=Rowdies:wght@700&family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: #373737;
    border-radius: 12px;
    transition: all 0.3s ease;
}



/* #preloader{
    background: #1a1a1a;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
} */



/* navbar styling */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 0;
    /* background: #080808; */
    font-family: 'Ubuntu', sans-serif;
    z-index: 10000;
    transition: 0.6s;
}

nav.sticky{
    background-color: #080808;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo img {
    width: 100px;
    margin-left: -87px;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
}

.navbar .menu li a:hover {
    color: crimson;
    transition: 0.4s;
}

.fa.fa-bars {
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

.fa.fa-bars:hover {
    color: crimson;
    transition: 00.4s;
}



/* Home section styling */
.home {
    display: flex;
    background: url("images/realbackground.jpg") no-repeat center;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width {
    margin: auto 0 auto 0;
    background-attachment: fixed;

}

.home .home-content .text-1 {
    font-size: 75px;
    margin: -3px;
}

.home .home-content .text-2 {
    font-size: 27px;
}

.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-1 span {
    color: crimson;
    font-weight: 500;
}

.home .home-content a {
    display: inline-block;
    background-color: crimson;
    color: #fff;
    font-size: 25px;
    padding: 6px 18px;
    border-radius: 40px;
    border: 3px solid crimson;
    margin-top: 5px;
    margin-bottom: 6px;
}

.home .home-content a:hover {
    color: #fff;
    background: none;
    transition: 0.4s;

}

.socialicons {
    display: flex;
}

.socialicons a {
    display: flex;
    padding: 10px;
}

.home .socialicons a svg {
    width: 50px;
    height: fit-content;
    border-radius: 50%;
    background-color: white;
}

.instagram {
    border: 5px solid white;
}

.instagram:hover {
    border: 5px solid crimson;
}

.socialicons a svg:hover {
    background-color: crimson;
    transition: 00.4s;

}


/* responsive media query start  */
@media (max-width:947px){
    .max-width{
        padding: 0 50px;
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: black;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px;
        font-size: 25px;
    }
}


/* About me section  */
.about {
    display: flex;
    padding: 30px 0;
    margin-top: 0px;
    height: 100vh;
    background: black;
    transition: 1s;

}

.about img {
    width: 300px;
    border-radius: 6px;
}

.about .title {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 40px;
    color: white;
    font-weight: 600;
    margin-top: 30px;
}

.about .title .sub-title {
    font-size: 25px;
    color: crimson;
    /* margin-bottom: 0px; */
    margin-top: 5px;
    text-decoration: overline;
}

.about .about-content {
    display: flex;
    grid-template-columns: 40% 60%;
    text-align: justify;
    font-family: 'Ubuntu', sans-serif;
    padding: 50px 0;
    /* display: flex;
    column-gap: 2rem;
    align-items: center; */
}

.about .about-content .left-image span img {
    /* width: 30px; */
    margin-left: 10px;
    height: 100px;
}

.about .right-content {
    color: #fff;
    padding: 2rem;
}

.about .right-content a {
    display: inline-block;
    background-color: crimson;
    color: white;
    font-size: 25px;
    padding: 0px 10px;
    border-radius: 40px;
    border: 3px solid crimson;
    margin-top: 7px;
}

.about .right-content a:hover {
    background: none;
    color: white;
    transition: 00.4s;
}

.about .right-content p {
    font-size: 20px;
}




/* education section */
.education {
    background: black;
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    padding: 150px 200px;
    margin-top: 0px;
    height: 100vh;
    height: max-content;

}

.education .timeline {
    display: block;
    width: 100%;
}

.education .timeline .heading {
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
}

.education .timeline .heading span {
    color: crimson;
}

.education .timeline .card {
    width: 45%;
    padding: 20px;
    border-radius: 10px;
    color: white;
    display: block;
    margin: 0;
    position: relative;
}

.education .timeline .card:nth-child(even) {
    margin-left: auto;
}

.education .timeline .card:nth-child(even):before {
    content: '';
    position: absolute;
    left: -13%;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 5px solid black;
    border-radius: 50%;
}

.education .timeline .card:nth-child(even)::after {
    content: '';
    position: absolute;
    left: -7%;
    top: 50%;
    transform: translateY(-50%);
    width: 7%;
    height: 2px;
    background: white;
    z-index: 1;
}

.education .timeline .card:nth-child(odd):before {
    content: '';
    position: absolute;
    right: -13%;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 5px solid black;
    border-radius: 50%;
}

.education .timeline .card:nth-child(odd)::after {
    content: '';
    position: absolute;
    right: -7%;
    top: 50%;
    transform: translateY(-50%);
    width: 7%;
    height: 2px;
    background: white;
    z-index: 1;
}

.card:nth-child(2),
.card:nth-child(2):before {
    background: #ff4f4f;
}

.card:nth-child(3),
.card:nth-child(3):before {
    background: #ffb84f;
}

.card:nth-child(4),
.card:nth-child(4):before {
    background: #3dca5c;
}

.card:nth-child(5),
.card:nth-child(5):before {
    background: #4fa0ff;
}

.card .card-title {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
}












/* skills section start */
.skills {
    height: 100vh;
    padding: 80px 0;
    margin-top: 0px;
    background: #373737;
    height: fit-content;
    font-family: 'Ubuntu', sans-serif;
}

.skills .title {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 40px;
    color: #fff;
    font-weight: 600;
    padding: 50px 0;
}

.skills .title .sub-title {
    font-size: 25px;
    color: crimson;
    margin-top: 5px;
    text-decoration: overline;
}

.skills .skills-container {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
    color: white;
    /* padding-bottom: 50px; */
}


.skills .skills-container .skills-card img {
    display: block;
    margin: auto;
    height: 90px;

}

.skills-name {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    margin: 20px 0 10px;
}

.skills .skills-info {
    text-align: center;
    opacity: 0.5;
    font-size: 18px;
    line-height: 20px;
    justify-content: center;
}







/* project section start */
.project {
    background: #181717;
    min-height: 100vh;
    padding: 60px 0;
    /* position: fixed; */
    margin-top: 0px;
    font-family: 'Ubuntu', sans-serif;
    transition: 1s;
}

.project .title {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 40px;
    color: #fff;
    font-weight: 600;
    padding: 50px 0 0;
}

.project .title .sub-title {
    font-size: 25px;
    color: crimson;
    margin-top: 5px;
    text-decoration: overline;
}

.project .title-2 {
    font-size: 70px;
    background: #2d2d2d;
    text-transform: capitalize;
    color: #1a1a1a;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 8px transparent;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 100px;

}

.project-card {
    height: 400px;
    position: relative;
    padding: 10px;
}

.project-images {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 40px;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: 0.5s;
}

.project-content {
    position: relative;
    padding: 40px;
    color: white;
    transition: 0.5s;
    opacity: 0;
}

.project-title {
    font-size: 30px;
    text-transform: capitalize;
    text-align: center;
    color: crimson;
    font-weight: 300;
}

.project-info {
    margin: 40px 40px 10px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

.project-btn {
    text-align: center;
}

.project-btn a {

    padding: 10px;
}

.project .project-btn a svg {
    width: 50px;
    height: fit-content;
    border-radius: 50%;
    background-color: white;

}


.project .project-btn a svg:hover {
    background-color: crimson;
    transition: 00.4s;
}

.project-card:hover .project-images {
    filter: blur(20px);
}

.project-card:hover .project-content {
    opacity: 1;
}





/* Contact me section  */
.contact {
    display: flex;
    height: 100vh;
    margin-top: 0px;
    background: black;
    height: fit-content;
}

.contact .title {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 40px;
    color: #fff;
    font-weight: 600;
    /* margin-top: 100px; */
    padding: 100px 0 0;

}

.contact .title .sub-title {
    font-size: 25px;
    color: crimson;
    margin-bottom: 40px;
    margin-top: 5px;
    text-decoration: overline;
    font-family: 'Ubuntu', sans-serif;
}

.contact .row {
    display: flex;
    /* display: grid; */
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
}

.contact .row .info-container {
    width: 28rem;
    margin-bottom: 5rem;
}

.contact .row .info-container h1 {
    font-size: 25px;
    color: crimson;
    padding-bottom: 1rem;
}

.contact .row .info-container p {
    font-size: 20px;
    line-height: 2;
    padding: 8px 0;
    margin-top: -8px;

}

.contact .box-container .box i {
    color: crimson;
    font-size: 2rem;
    padding: 1rem;
    margin-right: 2rem;

}

.contact .box-container {
    padding: 1rem;
}

.contact .box-container .box {
    display: flex;
}

.contact .box .h3 {
    margin-left: 10px;
}




input {
    border-radius: 40px;
    background-color: #373737;
    color: #fff;
    margin: 7px;
    padding: 1rem;
    width: 45%;
    font-size: 0.8rem;
}

textarea {
    border-radius: 40px;
    padding: 1rem 1.8rem;
    font-size: 1.5rem;
    background-color: #373737;
    color: #fff;
    margin: 7px 0;
    width: 95%;
    height: 15rem;
}

.btn {
    width: 20%;
    background: crimson;
    border: 3px solid crimson;
    cursor: pointer;
    transition: 00.4s;
    padding: 10px;
    margin-bottom: 3rem;

}

.btn:hover {
    display: inline-block;
    background: none;
    cursor: pointer;
    transition: 00.4s;

}




/* footer section start  */
footer {
    background: black;
    padding: 35px 0;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

footer .text {
    color: white;
    font-size: 17px;
    font-weight: 400;
}

footer .text a {
    color: crimson;
}

/* move to up button */
.scroll-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 25px;
    padding: 15px 30px;
    /* border-radius: 40px; */
}
